.styledLinkContent{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
}
.accordionIcon--isClosed{
  color: white;
}
.accordionIcon--isOpen{
  color: white;
}
.submenuWrapper--submenu-top--isOpen{
  border:2px solid #efefef;
  background: rgb(251,249,240);
  z-index: 3;
}

:global(.vtex-menu-2-x-menuContainer--submenu-top-wrapper-brands) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
display: flex;
  flex-wrap: wrap;
  background: #FF4122;
  min-height: 150px;
  max-width: 100%;
}

.submenu--submenu-top{
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
  height: auto;
}
:global(.vtex-menu-2-x-menuContainerNav){
  width: 100%;
}

.submenu--submenu-top :global(.vtex-menu-2-x-menuItem):hover{
  outline-bottom: 2px solid #ff4122;
}


:global(.vtex-menu-2-x-menuContainer--submenu-top-wrapper) {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

}

.menuContainer{
  min-width: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.submenuWrapper--submenu-top--isOpen .styledLinkContent{
  color: black;
}

.menuItem--top-menu-item{
  width: 400px;
}
:global(.vtex-menu-2-x-styledLinkContainer--top-menu-item-brand){
  color: #FFC600;
  width: 33%;
  font-size: 24px;
}

.menuContainer--submenu-top-wrapper-brands{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.styledLinkContent--footer-link{
  color: white;
}
.styledLinkContent--footer-link:hover{
  color: white;
}

@media only screen and (min-width: 1026px) {
  .menuItem--top-menu-item-brand{
    padding: 10px 70px 10px 70px;
  }
  .styledLinkContent:hover{
    color: black;
  }
  .styledLinkContent--footer-link:hover{
    color: white;
  }
  .styledLinkContent--head-of-category{
    text-decoration: underline;
  }
}
