.buttonText{
  color: white;
  font-size: 45px;
}
.listElement{
  background: #ff4122;
  top: 23px;
  color: white;
}
.listElement:hover{
  background: #ff4122;
  color: white;
}
@media screen and (min-width: 1026px){
  .buttonText{
    font-size: 45px;
  }
}
