
.label--image-link {
  color: white;
  min-width: 200px;
  width: 100%;
  font-size: 1.3em;
  top: 220px;
  position: absolute;
  left: 10px;
  background: transparent;
}
.label--image-link::after {
  content: "\2192";
  position: absolute;
  right:10px;
  color: white;
  top: 0px;
}
.label--footer-link{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  padding-left: 18px;
  text-decoration: none;
margin-left: 9px;
}
.link--footer-link{
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
}
