:global(.vtex-product-quantity-1-x-summaryContainer--quantity-shelf){
  margin:0px;
}
.buyButton
.buyButton--shelfProduct-button{
  background: rgb(58,3,45);
}

:global(.vtex-search-result-3-x-galleryItem) :global(.vtex-product-summary-2-x-container){
  background: rgb(251,249,240);
}

