.minicartSummary{
display: none;
}
.minicartContentContainer .price{
  display: none;
}
.cartIcon{
  color: transparent;
  width: 25px;
  height: 25px;
}
.minicartContainer :hover{
  background-color: #ff4122;
}
.minicartQuantityBadge{
  background-color: #ff4122;
}
.minicartCheckoutButton{
  background-color: #FFC600;
  padding-left: 0;
  padding-right: 0;
}
:global(.vtex-minicart-2-x-overlay--visible){
  background-color: #FFC600;
}
.openIconContainer{
  position: relative;
  padding: 10px 0 14px 0;
}

.openIconContainer::after{
  top: 2px;
  left: 3px;
  width: 50px;
  height: 60px;
  content: '';
  position: absolute;
  background: url("https://abibewebshop.vtexassets.com/assets/vtex.file-manager-graphql/images/dbdfeea3-f96c-475b-996c-271531061a9e___3e1c6cc693d1cbebf0432b9aa9a47d5d.png") no-repeat -11px 0;
  background-size: cover;
}
@media screen and (min-width: 400px){
  .openIconContainer::after{
    top: 2px;
    left: 0;
    width: 50px;
    height: 60px;
    content: '';
    position: absolute;
    background: url("https://abibewebshop.vtexassets.com/assets/vtex.file-manager-graphql/images/dbdfeea3-f96c-475b-996c-271531061a9e___3e1c6cc693d1cbebf0432b9aa9a47d5d.png") no-repeat -11px 0;
    background-size: cover;
  }

}
