.shelfProduct-price{
  background-color: #ff4122;
}
.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}


.sellingPriceValue {
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
display: none;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
.sellingPrice--selling-price-exc-vat{
  color: #979899;
  margin-top: 3px;
}
.sellingPrice--selling-price-inc-vat{
  color: #979899;
  margin-top: 3px;
}
.currencyCode--selling-price-inc-vat,
.currencyInteger--selling-price-inc-vat,
.currencyDecimal--selling-price-inc-vat,
.currencyFraction--selling-price-inc-vat{
  color: black;
  font-size: 25px;
  font-weight: 600;
}




.sellingPrice--selling-price-shelf-exc-vat{
  color: #979899;
  font-size: 0.9em;
  margin-top: 7px;
  margin-bottom: 7px;
}
.sellingPrice--selling-price-shelf-inc-vat{
  color: #979899;
  font-size: 0.9em;
  margin-top: 7px;
}
.currencyCode--selling-price-shelf-inc-vat,
.currencyInteger--selling-price-shelf-inc-vat,
.currencyDecimal--selling-price-shelf-inc-vat,
.currencyFraction--selling-price-shelf-inc-vat{
  color: black;
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.sellingPrice--searchPrice{
  margin-top: 0;
  color:#ff4122;
  font-size: 1.75em;
  margin-left: 0;
  position: relative;
}
.sellingPrice--searchPrice ::after{
  content:"\276F";
  color: #FF4122;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 10px;
  height: 10px;
  font-size: 25px;
}
.sellingPrice--searchPrice ::before{
  content:"MORE INFO";
  color: #ff4122;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 82px;
  height: 10px;
  font-size: 14px;
}
