.badgeText{
  color: black;
  font-size: 12px;
  margin: 0;
}
.badgeContainer--price-per-unit{
  background-color: #EFEFEF;
  padding: 0;
}
.badgeText--bottle-deposit-euro45-excluded{
  color: black;
  background: #EFEFEF;
  text-align: left;
}
.groupContainer {
  margin:0;
}
.groupContainer--specificationValueProductCount{
 position: relative;
}
.badgeText--specificationValueProductCount{
  color: black;
  background: #EFEFEF;
  text-align: left;
}
.badgeContainer--order-per{
  color: black;
  background: #EFEFEF;
  text-align: left;
}
.badgeText--shelfSpecificationValueProductCount{
  position: absolute;
  top: 32px;
  left: 20%;
  padding: 8px;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  background-color: #d90026;
  font-size: 16px;
  color: white;
  z-index: 6;
}

.element--product-home-wrapper .badgeText--specificationValueProductCount{
  top: 0;
  left: 0;
}

:global(.vtex-flex-layout-0-x-flexRow--specificationContainerProductCount) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: 30% !important;
}
