.cartIcon{
  color: transparent;
  width: 25px;
  height: 25px;
}
.minicartContainer :hover{
  background-color: #ff4122;
}
.minicartQuantityBadge{
  background-color: #ff4122;
}
.minicartCheckoutButton{
  background-color: #FFC600;
  padding-left: 0;
  padding-right: 0;
}
:global(.vtex-minicart-2-x-overlay--visible){
  background-color: #FFC600;
}
.openIconContainer{
  position: relative;
}

.openIconContainer::after{
  top: 6px;
  right: 0;
  width: 60px;
  height: 60px;
  content: '';
  position: absolute;
  background: url("https://abibewebshop.vtexassets.com/assets/vtex.file-manager-graphql/images/dbdfeea3-f96c-475b-996c-271531061a9e___3e1c6cc693d1cbebf0432b9aa9a47d5d.png") no-repeat -11px 0;
  background-size: cover;
}
