.paragraph--bottom-banner-custom-text-shelf{
  position: absolute;
  background-color: rgb(58,3,45);
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 8px;
  border-radius: 18px;
  color: white;
  top: -8px;
  right: 0;
  margin:0;
}

.container--bottom-banner-custom-text{
  justify-content: center;

}
.paragraph--bottom-banner-custom-text{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text{
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.container--bottom-banner-custom-text2{
  justify-content: center;

}
.paragraph--bottom-banner-custom-text2{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text2{
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.container--bottom-banner-custom-text3{
  justify-content: center;

}
.paragraph--bottom-banner-custom-text3{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text3{
  color: #ff4122;
  font-size: 35px;
  text-decoration: none;
}
.container--bottom-banner-custom-text4{
  justify-content: center;

}
.paragraph--bottom-banner-custom-text4{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text4{
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.container--bottom-banner-custom-text5{
  justify-content: center;

}
.paragraph--bottom-banner-custom-text5{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text5{
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.wrapper--bottom-banner-custom-text6{
  /*margin-left: 30px;*/

}
.paragraph--bottom-banner-custom-text6{
  text-align: center;
  /*margin-left: 30px;*/
  width: 287px;
}
.link--bottom-banner-custom-text6{
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
}



.paragraph--footerAbi{
  color: white;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container--footerAbi{
  margin-top: 20px;
}
.wrapper--news-header{
  width: 100%;
}
.paragraph--news-header{
  text-align: center;
  font-size: 20px;
  color: #ff4122;
}
.paragraph--footerSocialHeader{
  margin: 0;
  color: white;
}
.paragraph--question-text{
  color: #FF4122;
}
.container--faq-category-header{
  background: #FF4122;
  color: white;
  padding-left: 10px;
}
.container--question-text{
  position: relative;
}
.container--question-text::after{
  transform: rotate(90deg);
  color: #FFC600;
  content: "\27A4";
  display: block;
  float: right;
  font-size: 23px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top:25%;
}
.container--deals {
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.paragraph--copyrightFooter,.paragraph--copyrightResponse{
  font-size: 13px;
}
.container--title {
  color: #ff4122;
  font-size: 40px;
  font-weight: 700;
  max-width: 60%;
}

.heading--shelfTitle{
  color: #ff4122;
}

.container--title .paragraph {
  line-height: 1.3em;
}
.paragraph--brandTitle{
  color: #ff4122;
  font-size: 2.14em;
  font-weight: bold;
}
.container--shelfTitle {
  color: black;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}
.paragraph--aboutus-headerText{
  font-size: 26px;
  color: #FF4122;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.paragraph--aboutus-headerInfoText{
  color: #FF4122;
  text-align: center;
  font-size: 23px;
  min-height: 65px;
}
.paragraph--aboutus-infoText{
  color: #3A032D;
  text-align: center;
  font-size: 20px;
}
.link--bottomlinkctext{
  color: white;
  text-align: center;
  font-size: 12px;
  border: 1px solid #FF4122;
  text-decoration: none;
  border-radius: 25px;
  padding: 16px 10px;
  background: #FF4122;
}
@media screen and (min-width: 610px){
  .container--bottom-banner-custom-text{
    justify-content: flex-start;

  }
  .paragraph--bottom-banner-custom-text{
    text-align: left;
    margin-left: 30px;
    width: 287px;
  }
  .link--bottom-banner-custom-text{
    font-size: 45px;
  }
  .container--bottom-banner-custom-text2{
    justify-content: flex-start;

  }
  .paragraph--bottom-banner-custom-text2{
    text-align: left;
    margin-left: 30px;
    width: 287px;
  }
  .link--bottom-banner-custom-text2{
    font-size: 45px;
  }
  .container--bottom-banner-custom-text3{
    justify-content: flex-start;

  }
  .paragraph--bottom-banner-custom-text3{
    text-align: left;
    margin-left: 30px;
    width: 287px;
  }
  .link--bottom-banner-custom-text3{
    font-size: 45px;
  }
  .container--bottom-banner-custom-text4{
    justify-content: flex-start;

  }
  .paragraph--bottom-banner-custom-text4{
    text-align: left;
    margin-left: 30px;
    width: 287px;
  }
  .link--bottom-banner-custom-text4{
    font-size: 45px;
  }
  .container--bottom-banner-custom-text5{
    justify-content: flex-start;

  }
  .paragraph--bottom-banner-custom-text5{
    text-align: left;
    margin-left: 30px;
    width: 287px;
  }
  .link--bottom-banner-custom-text5{
    font-size: 45px;
  }
  .wrapper--bottom-banner-custom-text6{
    margin: 0 auto;
  }
  .paragraph--bottom-banner-custom-text6{
    text-align: center;
    margin: 0 auto;
    width: auto;
  }
  .link--bottom-banner-custom-text6{
    font-size: 45px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .paragraph--news-header{
    font-size: 34px;
  }

  .container--about {
    max-width: 85%;
  }
  .heading--shelfTitle{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  .link--bottomlinkctext{
    font-size: 20px;
  }
  @media screen and (min-width: 944px){
    .container--bottom-banner-custom-text{
      justify-content: flex-start;

    }
    .paragraph--bottom-banner-custom-text{
      text-align: left;
      margin-left: 50px;
      width: 400px;
    }
    .link--bottom-banner-custom-text{
      font-size: 61px;
      line-height: 1.3;
    }
    .container--bottom-banner-custom-text2{
      justify-content: flex-start;

    }
    .paragraph--bottom-banner-custom-text2{
      text-align: left;
      margin-left: 50px;
      width: 400px;
    }
    .link--bottom-banner-custom-text2{
      font-size: 61px;
      line-height: 1.3;
    }
    .container--bottom-banner-custom-text3{
      justify-content: flex-start;

    }
    .paragraph--bottom-banner-custom-text3{
      text-align: left;
      margin-left: 50px;
      width: 400px;
    }
    .link--bottom-banner-custom-text3{
      font-size: 61px;
      line-height: 1.1;
    }
    .container--bottom-banner-custom-text4{
      justify-content: flex-start;

    }
    .paragraph--bottom-banner-custom-text4{
      text-align: left;
      margin-left: 50px;
      width: 400px;
    }
    .link--bottom-banner-custom-text4{
      font-size: 61px;
      line-height: 1.1;
    }
    .container--bottom-banner-custom-text5{
      justify-content: flex-start;

    }
    .paragraph--bottom-banner-custom-text5{
      text-align: left;
      margin-left: 50px;
      width: 400px;
    }
    .link--bottom-banner-custom-text5{
      font-size: 61px;
      line-height: 1.3;
    }
    .wrapper--bottom-banner-custom-text6{
      margin: 0 auto;
    }
    .paragraph--bottom-banner-custom-text6{
      text-align: center;
      margin: 0 auto;
      width: auto;
    }
    .link--bottom-banner-custom-text6{
      font-size: 61px;
      text-transform: uppercase;
    }
  }
}
